<div id="<%= dom_id idea %>">
  <p>
    <strong>Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag(idea.picture_url, width: 600) if idea.picture? %>
    <!-- <img src="https://picsum.photos/200/300" alt="test image" width="200" height="300"> -->
  </p>

</div>
